<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522322123720-i3ulcvqp898338aqj4riacp3ipvecu5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522322123720-i3ulcvqp898338aqj4riacp3ipvecu5b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>522322123720-ing7c44a2oa554tktc7d1ocuijgqr1mt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtCmhw0XmBMWP7NO9cAhbXea7Nb0cvtyw</string>
	<key>GCM_SENDER_ID</key>
	<string>522322123720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.com.PeonyMarketplace</string>
	<key>PROJECT_ID</key>
	<string>marketplace-fcdc3</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-fcdc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522322123720:ios:09a2c8725d758e09</string>
	<key>DATABASE_URL</key>
	<string>https://marketplace-fcdc3.firebaseio.com</string>
</dict>
</plist>